@page
@model ZAMS.AllApplicantsModel
@{
    ViewData["Title"] = "All Applicants";
}

<div class="header d-flex justify-content-between">
            <h1>
                Applicant Tracker
            </h1>
            <div class="align-self-center"><a asp-area="Applicants" asp-page="/EditApplicant" class="btn btn-primary">Add New</a></div>
</div>

@if (Model.ApplicantMessage != null)
{
    <div style="text-align: center" class="alert alert-success">@Model.ApplicantMessage</div>
}
<nav >
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">All Applicants</li>
        <li class="breadcrumb-item"><a asp-area="Applicants" asp-page="/Pending">Pending</a></li>
        <li class="breadcrumb-item"><a asp-area="Applicants" asp-page="/Declined">Declined</a></li>
        <li class="breadcrumb-item"><a asp-area="Applicants" asp-page="/Returning">Returning</a></li>
    </ol>
</nav>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search by first name..." asp-for="SearchTerm" />
            <div class="input-group-append">
                <button class="btn btn-secondary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-sm table-hover table-striped table-bordered">
        <caption>List of all applicants, past and present.</caption>
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var applicant in Model.ApplicantSearch)
            {
                <tr>
                    <td><a asp-area="Applicants" asp-page="/ApplicantDetails" asp-route-applicantId="@applicant.Id">@applicant.Name</a></td>
                    <td><a href="mailto:@applicant.Email" target="_top">@applicant.Email</a></td>
                    <td>@applicant.PhoneNumber</td>
                    <td>
                        <a class="btn btn-sm" asp-area="Applicants" asp-page="/ApplicantDetails"
                           asp-route-applicantId="@applicant.Id">
                            <i class="fas fa-search-plus"></i>
                        </a>
                        <a class="btn btn-sm" asp-area="Applicants" asp-page="/EditApplicant"
                           asp-route-applicantId="@applicant.Id">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="btn btn-sm" asp-area="Applicants" asp-page="/DeleteApplicant" asp-route-applicantId="@applicant.Id"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>