@page
@model ZAMS.Pages.Applicants.ReturningModel
@{ 
    ViewData["Title"] = "Returning Applicants";
}
<div class="header d-flex justify-content-between">
    <h1>
        Applicant Tracker
    </h1>
    <div class="align-self-center"><button asp-area="Applicants" asp-page="\EditApplicant" class="btn btn-primary">Add New</button></div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Applicants" asp-page="/AllApplicants">All Applicants</a></li>
        <li class="breadcrumb-item"><a asp-area="Applicants" asp-page="/Pending">Pending</a></li>
        <li class="breadcrumb-item"><a asp-area="Applicants" asp-page="/Declined">Declined</a></li>
        <li class="breadcrumb-item active" aria-current="page">Returning</li>
    </ol>
</nav>
<div class="table-responsive">
    <table class="table table-sm table-hover table-striped table-bordered">
        <caption>List of returning guides</caption>
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var applicant in Model.Applicants)
                if (applicant.Returning == true)
                {
<tr>
    <td><a asp-area="Applicants" asp-page="/ApplicantDetails" asp-route-applicantId="@applicant.Id">@applicant.Name</a></td>
    <td><a href="mailto:@applicant.Email" target="_top">@applicant.Email</a></td>
    <td>@applicant.PhoneNumber</td>
    <td>
        <a class="btn btn-sm" asp-area="Applicants" asp-page="/ApplicantDetails"
           asp-route-applicantId="@applicant.Id">
            <i class="fas fa-search-plus"></i>
        </a>
        <a class="btn btn-sm" asp-area="Applicants" asp-page="/EditApplicant"
           asp-route-applicantId="@applicant.Id">
            <i class="fas fa-edit"></i>
        </a>
        <a class="btn btn-sm" asp-area="Applicants" asp-page="/DeleteApplicant" asp-route-applicantId="@applicant.Id"><i class="fas fa-trash"></i></a>
    </td>
</tr>                }
        </tbody>
    </table>
</div>